@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.
<AuthorizeView>
    <Authorized>
        <h4>@context.User.Identity.Name</h4>
    </Authorized>
</AuthorizeView>
<SurveyPrompt Title="How is Blazor working for you?" />
