@inherits LayoutComponentBase
@using BlazorCustomAuth.Web.Pages.Auth;
@using Blazored.Toast.Configuration
<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug" />
<AuthorizeView>
    <Authorized>
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">

            <LogOut></LogOut>
            <div class="content px-4">
                @Body
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <Login>
        </Login>
    </NotAuthorized>

</AuthorizeView>

