@page "/Auth/Login"
@using BlazorCustomAuth.Web.Auth;
@using BlazorCustomAuth.Web.Data;
@using BlazorCustomAuth.Service
@inject IToastService toastService
@inject AuthenticationStateProvider auth;
@inject IUserService userService;
@inject NavigationManager UriHelper



<LogInStyle></LogInStyle>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="/User.png" id="icon" alt="User Icon" />

        </div>

        <!-- Login Form -->
        <form>
            <input type="text" id="login" @bind-value="loginModel.UserName" class="fadeIn second" placeholder="User ID">
            <input type="password" id="password" @bind-value="loginModel.Password" class="fadeIn third" placeholder="Password">
            <input type="button" @onclick="LoginFn" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
         
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>

    </div>
</div>
@code {
    LoginModel loginModel = new LoginModel();
    Boolean login = false;
    protected override void OnInitialized()
    {


    }
    void NavigatetoNextComponent()
    {
        UriHelper.NavigateTo("/",true);
    }
    public async Task LoginFn()
    {
        if (string.IsNullOrEmpty(loginModel.UserName))
        {
            toastService.ShowError("Enter Your User Name!");
        }
        else if (string.IsNullOrEmpty(loginModel.Password))
        {
            toastService.ShowError("Enter Your Password!");
        }
        else
        {
            var user = await userService.GetUserByUserNamePassword(loginModel.UserName, loginModel.Password);
            if (user == null)
            {
                toastService.ShowError("User Name or Password not match!");
            }
            else
            {
                login=   await ((AppAuthStateProvider)auth).SetAuthenticationStateAsync(user);
                if (login)
                {
                    toastService.ShowSuccess("Log in sucessfull!");
                    NavigatetoNextComponent();
                }
                else
                {
                    toastService.ShowSuccess("Log in Failed!");
                }

            }

        }


    }
}
