@page "/Auth/Logout"
@using BlazorCustomAuth.Web.Auth;
@inject AuthenticationStateProvider auth;
@inject NavigationManager navManger;
<AuthorizeView>
    <Authorized>
        <div class="top-row px-4">
            @context.User.Identity.Name
            <button @onclick="LogOutFn" class="btn btn-sm btn-danger">Logout</button>
        </div>
    </Authorized>
</AuthorizeView>
@code {
    public async Task LogOutFn()
    {
        await   ((AppAuthStateProvider)auth).ClearAuthenticationAsync();
        navManger.NavigateTo("/");
    }
}
